__pycache__
bootstrap_testingGround.html
venv
static/user_information.json
static/tasks/completed/*
static/tasks/todo/*
.DS_Store
.vscode
!static/tasks/completed/.completed
!static/tasks/todo/.todo
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
