{% extends "layout.html" %}
{% block content %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="container">
        <h1>GPT Page</h1>
        <p>Search query: {{ searchQuery }}</p>    
    </div>


    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/sortablejs@1.14.0/Sortable.min.css">

    <div class="container">
        <h1>Welcom to GPT response</h1>
        {{ query }}
    </div> -->

{% endblock content %}